<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
</head>
<body style="padding: 20px 20px">

<h1>权限控制面板</h1>
<table class="layui-hide" id="roleList"></table>
<script src="../../static/layui/layui.js"></script>

<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#roleList'
            ,url:'/role/findAll'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'name', width:80, title: '名称'}
                ,{field:'scope', width:80, title: '标识', sort: true}
                ,{field:'description', width:80, title: '备注'}
            ]]
        });
    });

</script>
</body>
</html>