<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
</head>
<body style="padding: 20px 20px">

<h1>权限列表</h1>
<table class="layui-hide" id="roleList"></table>
<script src="../../static/layui/layui.js"></script>
<script th:inline="none">
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#roleList'
            , url: '/role/findAll'
            , width: 800
            , cols: [[
                {field: 'id', title: 'ID', width: 60, align: 'center', sort: true}
                , {field: 'name', title: '名称'}
                , {field: 'scope', title: '标识', sort: true}
                , {field: 'description', title: '备注'}
                , {field: 'createDate', title: '创建时间'}
            ]]
            //绑定业务字段
            , response: {
                statusName: 'code', //规定返回的状态码字段为code
                statusCode: 200 //规定成功的状态码为0
            }
        });
    });

</script>
</body>
</html>