<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
</head>
<body style="padding: 20px 20px">


<script src="../../static/layui/layui.js"></script>

<script th:inline="none">
    layui.use(['table', 'laypage'], function () {
        var $ = layui.$;

    });


</script>
</body>
</html>