<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.parking.dao.AdminDao">
    <select id="queryAdminByEmployeeNo" parameterType="String" resultType="com.xz.parking.entity.po.AdminPo">
        select * from t_admin where employee_no = #{employeeNo}
    </select>
</mapper>